@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.6vw;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-blog {
  padding-top: 47px;
  padding-top: 2.9375rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
}
@media screen and (min-width: 768px) {
  .l-blog {
    padding-top: 7rem;
    padding-bottom: 6.25rem;
  }
}

.l-inner {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1050px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-news {
  margin-top: 50px;
  margin-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .l-news {
    margin-top: 2.5rem;
  }
}

.l-staff-blog {
  padding-top: 47px;
  padding-top: 2.9375rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-staff-blog {
    padding-top: 8.25rem;
  }
}

.l-works {
  margin-top: 50px;
  margin-top: 3.125rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
}
@media screen and (min-width: 768px) {
  .l-works {
    margin-top: 5rem;
    padding-bottom: 8.75rem;
  }
}

.c-button {
  display: inline-block;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #F7F7F7;
  background: #4D4D4D;
  padding: 10px 80px;
  padding: 0.625rem 5rem;
  border-radius: 1.25rem;
}
@media screen and (min-width: 768px) {
  .c-button {
    font-size: 2rem;
    padding: 0.5625rem 6.25rem;
  }
}

.c-button:hover {
  background: #F7F7F7;
  color: #4D4D4D;
  border: 2px solid #4D4D4D;
  padding: 8px 80px;
  padding: 0.5rem 5rem;
}
@media screen and (min-width: 768px) {
  .c-button:hover {
    padding: 0.4375rem 6.25rem;
  }
}

.c-button--white {
  color: #4D4D4D;
  background: #F7F7F7;
  border: 2px solid #4D4D4D;
  padding: 8px 78px;
  padding: 0.5rem 4.875rem;
  -webkit-transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}
@media screen and (min-width: 768px) {
  .c-button--white {
    padding: 0.5rem 6.125rem;
  }
}

.c-button--white:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #F7F7F7;
  background: #4D4D4D;
}
@media screen and (min-width: 768px) {
  .c-button--white:hover {
    margin-bottom: 0.125rem;
  }
}

.c-section-header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.c-section-header__entitle {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .c-section-header__entitle {
    font-size: 3rem;
  }
}

.c-section-header__title {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid #005700;
  line-height: 1;
  margin-top: 10px;
  margin-top: 0.625rem;
  padding-bottom: 3px;
  padding-bottom: 0.1875rem;
}
@media screen and (min-width: 768px) {
  .c-section-header__title {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.c-text {
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.448em;
}
@media screen and (min-width: 768px) {
  .c-text {
    max-width: 33.5625rem;
    width: 100%;
    margin: auto;
  }
}

.p-blog {
  background: -webkit-gradient(linear, left top, right top, from(rgba(80, 92, 75, .5)), color-stop(69.3%, rgba(80, 92, 75, .5)), color-stop(69.3%, #fff), to(#fff));
  background: linear-gradient(90deg, rgba(80, 92, 75, .5) 0%, rgba(80, 92, 75, .5) 69.3%, #fff 69.3%, #fff 100%);
}
@media screen and (min-width: 768px) {
  .p-blog {
    background: -webkit-gradient(linear, left top, right top, from(rgba(80, 92, 75, .5)), color-stop(50%, rgba(80, 92, 75, .5)), color-stop(50%, #fff), to(#fff));
    background: linear-gradient(90deg, rgba(80, 92, 75, .5) 0%, rgba(80, 92, 75, .5) 50%, #fff 50%, #fff 100%);
  }
}

.p-blog__title {
  margin: auto;
}

.p-blog__text {
  margin-top: 18px;
  margin-top: 1.125rem;
}
@media screen and (min-width: 768px) {
  .p-blog__text {
    margin-top: 3rem;
  }
}

.p-blog__items {
  margin-top: 17px;
  margin-top: 1.0625rem;
}
@media screen and (min-width: 768px) {
  .p-blog__items {
    margin-top: 2.75rem;
  }
}

.p-blog__button {
  margin-top: 18px;
  margin-top: 1.125rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-blog__button {
    margin-top: 3.5625rem;
  }
}

.p-card {
  display: block;
  max-width: 296px;
  max-width: 18.5rem;
  width: 100%;
  margin: auto;
  border-radius: 0.625rem;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="5" /><feOffset dx="6" dy="6" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.25)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .25));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .25));
}
@media screen and (min-width: 768px) {
  .p-card {
    max-width: calc(33.33333% - 2.33333rem);
    margin: 0;
  }
}

.p-card + .p-card {
  margin-top: 19px;
  margin-top: 1.1875rem;
}
@media screen and (min-width: 768px) {
  .p-card + .p-card {
    margin-top: 0;
  }
}

.p-card--staffblog + .p-card--staffblog {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-card--staffblog + .p-card--staffblog {
    margin-top: 0;
  }
}

.p-card__img {
  position: relative;
  padding-top: 74.3243243%;
}

.p-card--staffblog .p-card__img {
  padding-top: 67.5675676%;
}

.p-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.625rem 0.625rem 0 0;
}

.p-card__body {
  background: #D2D2D2;
  padding: 20px 20px 25px 20px;
  padding: 1.25rem 1.25rem 1.5625rem 1.25rem;
  border-radius: 0 0 0.625rem 0.625rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #000;
}

.p-card__body::after {
  background: #3D593D;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.p-card__body--circle {
  overflow: hidden;
  position: relative;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  z-index: 2;
  background: #F7F7F7;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}

.p-card__body--circle::after {
  background: #818A7D;
  border-radius: 50%;
  content: "";
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 45%;
  left: 45%;
  width: 120%;
  padding-top: 100%;
  height: 0;
  z-index: -1;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0s;
  transition: opacity 0.5s, -webkit-transform 0s;
  transition: opacity 0.5s, transform 0s;
  transition: opacity 0.5s, transform 0s, -webkit-transform 0s;
  -webkit-transition-delay: 0s, 0.4s;
          transition-delay: 0s, 0.4s;
}

.p-card__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.p-card__text {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.448em;
  margin-top: 9px;
  margin-top: 0.5625rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .p-card__text {
    -webkit-line-clamp: 2;
  }
}

@media screen and (min-width: 768px) {
  .p-card--staffblog .p-card__text {
    -webkit-line-clamp: 3;
  }
}

.p-card:hover .p-card__body {
  color: #F7F7F7;
}

.p-card:hover .p-card__body::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.p-card:hover .p-card__body--circle::after {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0.8s, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0.8s, transform 0.6s ease-in-out;
  transition: opacity 0.8s, transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

@media screen and (min-width: 768px) {
  .p-cards {
    max-width: 62.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2.5rem 3.5rem;
  }
}

.p-item {
  display: block;
  max-width: 320px;
  max-width: 20rem;
  width: 100%;
  margin: auto;
  border-radius: 0.625rem;
  -webkit-transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}
@media screen and (min-width: 768px) {
  .p-item {
    max-width: calc(33.33333% - 0.83333rem);
  }
}

.p-item + .p-item {
  margin-top: 30px;
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-item + .p-item {
    margin-top: 0;
  }
}

.p-item__img {
  position: relative;
  padding-top: 62.5%;
}

.p-item__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.625rem 0.625rem 0 0;
}

.p-item__body {
  position: relative;
  background: #F7F7F7;
  padding: 20px 20px 22px 60px;
  padding: 1.25rem 1.25rem 1.375rem 3.75rem;
  border-radius: 0 0 0.625rem 0.625rem;
  color: #000;
  -webkit-transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}

.p-item__body::before {
  content: "";
  position: absolute;
  background: #AF9E97;
  width: 50px;
  width: 3.125rem;
  height: 100%;
  border-radius: 0 0 0 0.625rem;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}

.p-item__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #AF9E97;
  -webkit-transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.p-item__text {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.448em;
  margin-top: 9px;
  margin-top: 0.5625rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.p-item__body--green {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.p-item__body--green::before {
  background: #6E6B5C;
}

.p-item__body--green::after {
  background: #6E6B5C;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.p-item__title--green {
  color: #6E6B5C;
  text-align: center;
}

.p-item:hover .p-item__body {
  background: #AF9E97;
  color: #F7F7F7;
}

.p-item:hover .p-item__body::before {
  background: #F7F7F7;
}

.p-item:hover .p-item__title {
  color: #F7F7F7;
}

.p-item:hover .p-item__body--green {
  background: #F7F7F7;
}

.p-item:hover .p-item__body--green::before {
  background: #6E6B5C;
}

.p-item:hover .p-item__body--green::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media screen and (min-width: 768px) {
  .p-items {
    max-width: 62.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.25rem;
  }
}

.p-news {
  background: #F1F0F0;
}

.p-news__inner {
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 56px;
  padding-bottom: 3.5rem;
}
@media screen and (min-width: 768px) {
  .p-news__inner {
    padding-top: 5.6875rem;
    padding-bottom: 5rem;
  }
}

.p-news__text {
  margin-top: 29px;
  margin-top: 1.8125rem;
}
@media screen and (min-width: 768px) {
  .p-news__text {
    margin-top: 2.4375rem;
  }
}

.p-news__items {
  margin-top: 26px;
  margin-top: 1.625rem;
}
@media screen and (min-width: 768px) {
  .p-news__items {
    margin-top: 2.375rem;
  }
}

.p-news__button {
  margin-top: 29px;
  margin-top: 1.8125rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-news__button {
    margin-top: 2.5rem;
  }
}

.p-staff-blog {
  background: linear-gradient(180deg, #fff 0%, #fff 139px, rgba(175, 158, 151, .6) 139px, rgba(175, 158, 151, .6) 100%);
}
@media screen and (min-width: 768px) {
  .p-staff-blog {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(39.5%, #fff), color-stop(39.5%, rgba(175, 158, 151, .6)), color-stop(80%, rgba(175, 158, 151, .6)), color-stop(80%, #fff), to(#fff));
    background: linear-gradient(180deg, #fff 0%, #fff 39.5%, rgba(175, 158, 151, .6) 39.5%, rgba(175, 158, 151, .6) 80%, #fff 80%, #fff 100%);
  }
}

.p-staff-blog__title {
  margin: auto;
}

.p-staff-blog__text {
  margin-top: 38px;
  margin-top: 2.375rem;
}
@media screen and (min-width: 768px) {
  .p-staff-blog__text {
    margin-top: 1.9375rem;
  }
}

.p-staff-blog__items {
  margin-top: 37px;
  margin-top: 2.3125rem;
}
@media screen and (min-width: 768px) {
  .p-staff-blog__items {
    margin-top: 1.8125rem;
  }
}

.p-staff-blog__button {
  margin-top: 43px;
  margin-top: 2.6875rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-staff-blog__button {
    margin-top: 2.5rem;
  }
}

.p-works {
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(30.7%, #fff), color-stop(30.7%, rgba(80, 92, 75, .5)), to(rgba(80, 92, 75, .5)));
  background: linear-gradient(90deg, #fff 0%, #fff 30.7%, rgba(80, 92, 75, .5) 30.7%, rgba(80, 92, 75, .5) 100%);
}
@media screen and (min-width: 768px) {
  .p-works {
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, rgba(80, 92, 75, .5)), to(rgba(80, 92, 75, .5)));
    background: linear-gradient(90deg, #fff 0%, #fff 50%, rgba(80, 92, 75, .5) 50%, rgba(80, 92, 75, .5) 100%);
  }
}

.p-works__inner {
  padding-top: 16px;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .p-works__inner {
    padding-top: 9.5rem;
  }
}

.p-works__title {
  margin-left: auto;
}

.p-works__text {
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .p-works__text {
    margin-top: 0;
  }
}

.p-works__swiper {
  margin-left: 27px;
  margin-left: 1.6875rem;
  margin-top: 18px;
  margin-top: 1.125rem;
}
@media screen and (min-width: 768px) {
  .p-works__swiper {
    margin-top: 4.8125rem;
    margin-left: 0;
  }
}

.p-works__slide {
  margin-top: 0;
  max-width: 320px;
  max-width: 20rem;
}

.p-works__slide + .p-works__slide {
  margin-top: 0;
}

.p-works__button {
  margin-top: 60px;
  margin-top: 3.75rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-works__button {
    margin-top: 5.3125rem;
  }
}
/*# sourceMappingURL=styles.css.map */
