@use "global" as *;

.p-blog {
  background: linear-gradient(90deg,rgba(#505C4B80, .5) 0%,rgba(#505C4B80, .5) 69.3%,#fff 69.3%,#fff 100%);
  @include mq(md) {
    background: linear-gradient(90deg,rgba(#505C4B80, .5) 0%,rgba(#505C4B80, .5) 50%,#fff 50%,#fff 100%);
  }
}

.p-blog__title {
  margin: auto;
}

.p-blog__text {
  margin-top: rem(18);
  @include mq(md) {
    margin-top: rem(48);
  }
}

.p-blog__items {
  margin-top: rem(17);
  @include mq(md) {
    margin-top: rem(44);
  }
}

.p-blog__button {
  margin-top: rem(18);
  text-align: center;
  @include mq(md) {
    margin-top: rem(57);
  }
}