@use "global" as *;

.p-cards {
  max-width: rem(500);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(25);
  padding-right: rem(25);
  @include mq(md) {
    max-width: rem(1000);
    display: flex;
    flex-wrap: wrap;
    gap: rem(40) rem(56);
  }
}

.p-cards__card {
  width: 100%;
  margin: auto;
  @include mq(md) {
    max-width: calc((100% - #{rem(56)} * 2) / 3);
    margin: 0;
  }
}

.p-cards__card + .p-cards__card {
  margin-top: rem(19);
  @include mq(md) {
    margin-top: 0;
  }
}

.p-cards__card--staffblog + .p-cards__card--staffblog {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
  }
}