@use "global" as *;

.p-news {
  background: #F1F0F0;
}

.p-news__inner {
  padding-top: rem(20);
  padding-bottom: rem(56);
  @include mq(md) {
    padding-top: rem(91);
    padding-bottom: rem(80);
  }
}

.p-news__text {
  margin-top: rem(29);
  @include mq(md) {
    margin-top: rem(39);
  }
}

.p-news__items {
  margin-top: rem(26);
  @include mq(md) {
    margin-top: rem(38);
  }
}

.p-news__button {
  margin-top: rem(29);
  text-align: center;
  @include mq(md) {
    margin-top: rem(40);
  }
}