@use "global" as *;

.l-works {
  margin-top: rem(50);
  padding-top: rem(16);
  padding-bottom: rem(100);
  @include mq(md) {
    margin-top: rem(80);
    padding-top: rem(152);
    padding-bottom: rem(140);
  }
}